{% extends 'base.html.twig' %}

{% block title %}Modification recette{% endblock %}

{% block body %}
    <h1 class="text-center pt-2 ">Modification d'une recette</h1>

    {{ form_start(formRecetteNegative,{'attr':{'novalidate':'novalidate'}}) }}

    <div class="row">
        <div class="col-8">
            {{ form_row(formRecetteNegative.nomRecetteNegative) }}
            <div class="row">
                <div class="col">{{form_row(formRecetteNegative.personneRecetteNegative)}}</div>
                <div class="col">{{form_row(formRecetteNegative.typeRecetteNegative)}}</div>
            </div>
            <div class="row">
                <div class="col">{{form_row(formRecetteNegative.preparationdureeRecetteNegative)}}</div>
                <div class="col">{{form_row(formRecetteNegative.cuissonRecetteNegative)}}</div>
            </div>
            {{ form_row(formRecetteNegative.ingredientRecetteNegative) }}
            {{ form_row(formRecetteNegative.preparationRecetteNegative) }}
        </div>    
        <div class="col-4">
        <div>
            <img src="{{ asset("image/imagevierge.png") }}" id="imageAffichee" alt="Card image" class="rounded mx-auto d-block img-thumbnail">
        </div>
        <div>
        {{ form_row(formRecetteNegative.imageFile, {'id':'imageFile'}) }}
        <a class="btn btn-primary d-block center" id="chargeImage"><i class="fas fa-upload"></i> Charger la recette</a>    
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col"><a href="{{ path('admin_recetteNegatives') }}" class="btn btn-warning btn-block">Annuler</a></div>
        <div class="col"><input type="submit" class="btn btn-success btn-block" value="Valider les modifications"></div>
    </div>
    <br>

    {{ form_end(formRecetteNegative) }}

{% endblock %}

{% block javascripts %}
<script src=" {{asset("js/gestionUpload.js")}} " defer ></script>
{% endblock %}