{% extends 'base.html.twig' %}

{% block title %}Gestion recettes pour perdre du poids{% endblock %}

{% block body %}
    <h1 class="titre pt-2 text-center">Gestion des recettes pour perdre du poids</h1>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(formFiltreRecetteNegative, {'attr': {'class': 'form-inline', 'style': 'width: 100%;'}}) }}
                    <div class="input-group">
                        {{ form_row(formFiltreRecetteNegative.nom, {'attr': {'class': 'form-control mr-sm-2', 'style': 'width: 400px;'}}) }}
                        <div class="input-group-append">
                            <button type="submit" class="btn-warning mt-md-0" style="height: 38px;">Rechercher</button>
                        </div>
                    </div>
                {{ form_end(formFiltreRecetteNegative) }}
            </div>
        </div>
    </div>
    <hr>
    <a href="{{ path('admin_recetteNegative_ajout') }}" class="btn btn-success" style="color: black">Ajouter une recette</a>
    <br><br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-1"></th>
                    <th scope="col-2">Nom</th>
                    <th scope="col-7">Détail</th>
                    <th scope="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for laRecetteNegative in lesRecetteNegatives %}
                    <tr class="table-light">
                        <td class="col-1">
                            {% if laRecetteNegative.imageRecetteNegative is not null %}
                                <img class="imgliste mx-auto d-block" style="height: auto; width: 90px; display: block;" src="{{ asset(laRecetteNegative.imageRecetteNegative) }}" alt="Card image">
                            {% endif %}
                        </td>
                        <td class="col-2" style="color: black">{{ laRecetteNegative.nomRecetteNegative }}</td>
                        <td class="col-7">
                            <p class="d-flex flex-row" style="color: black">
                                <span class="align-self-center badge badge-success" style="color: black">{{ laRecetteNegative.typeRecetteNegative }}</span>
                            </p>
                            <p style="color: black">
                                INGRÉDIENTS : {{ laRecetteNegative.ingredientRecetteNegative|slice(0,100)|raw }} ...
                            </p>
                            <p style="color: black">
                                PRÉPARATION : {{ laRecetteNegative.preparationRecetteNegative|slice(0,100)|raw }} ...
                            </p>
                        </td>
                        <td class="col-2">
                            <div class="d-flex flex-row">
                                <a href="{{ path('admin_recetteNegative_modif', {'id': laRecetteNegative.id }) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                                &nbsp;&nbsp;
                                
                                <a class="btn btn-danger" 
                                   data-toggle="modal" 
                                   data-target="#modalSimple"
                                   data-titre="Suppression de la recette"
                                   data-message="Êtes vous sur de vouloir supprimer la recette : {{ laRecetteNegative.nomRecetteNegative }}"
                                   data-libelleBouton = "Supprimer la recette"
                                   data-lien= " {{ path('admin_recetteNegative_suppression', {'id': laRecetteNegative.id}) }}"
                                ><i class="far fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
  {% include "include/_modale.html.twig" %}
{% endblock %}