{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-image: url('{{ asset('image/accueil.jpg') }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="jumbotron mt-5">
                <h1 class="text-center">Inscription</h1>

                {{ form_start(registrationForm) }}

            <div class="row">
                <div class="col-8">
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password.first) }}
                    {{ form_row(registrationForm.password.second) }}
                    <div class="row">
                        <div class="col">{{ form_row(registrationForm.nom_User) }}</div>
                        <div class="col">{{ form_row(registrationForm.prenom_User) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(registrationForm.sexe_User) }}</div>
                        <div class="col">{{ form_row(registrationForm.age_User) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(registrationForm.taille_User) }}</div>
                        <div class="col">{{ form_row(registrationForm.poids_User) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(registrationForm.level_User) }}</div>
                        <div class="col">{{ form_row(registrationForm.objectif_User) }}</div>
                    </div>
                </div>    
                <div class="col-4">
                <div>
                    <img src="{{ asset("image/imagevierge.png") }}" id="imageAffichee" alt="Card image" class="rounded mx-auto d-block img-thumbnail">
                </div>
                <div>
                {{ form_row(registrationForm.imageFile, {'id':'imageFile'}) }}
                <a class="btn btn-primary d-block center" id="chargeImage"><i class="fas fa-upload"></i> Charger votre photo de profil</a>    
                </div>
                </div>
            </div>

                <div class="d-flex align-items-center justify-content-center flex-column">
                    <input type="submit" class="btn btn-primary btn-lg" value="S'inscrire">
                </div>

                {{ form_end(registrationForm) }}

                {# Génération du lien de confirmation dans le mail #}
                {% if user.confirmationToken %}
                    {% set confirmationUrl = url('confirm_registration', {'token': user.confirmationToken}) %}
                    {# Affichage du lien de confirmation dans le mail #}
                    <p>Veuillez cliquer sur le lien suivant pour confirmer votre inscription : <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src=" {{asset("js/gestionUpload.js")}} " defer ></script>
{% endblock %}