{% extends 'base.html.twig' %}

{% block title %}Fiche recette de nutrition pour prendre du poids{% endblock %}

{% block body %}
  <br>
  <div class="container position-relative text-center">
    <div class="row pt-2">
        <div class="cardfiche text-white bg-primary mb-3">
          <div class="card-header">{{ laRecette.nomRecette }}</div>
          <div class="row">
            <div class="col-3 d-flex align-items-center mx-auto">  
                <img class="imgfiche mx-auto d-block " src=" {{asset( laRecette.imageRecette) }} " alt="Card image">
            </div>
            <div class="col">  
              <div class="card-body">
                <p class="card-text"> NB DE PERSONNES : {{ laRecette.personneRecette }} - PRÉPARATION : {{ laRecette.preparationdureeRecette }} min - CUISSON : {{ laRecette.cuissonRecette }} min</p>
                <hr>
                <h3 class="card-titre">INGRÉDIENTS</h3>
                <p class="card-text">{{ laRecette.ingredientRecette|nl2br }}</p>
                <h3 class="card-titre">PRÉPARATION</h3>
                <p class="card-text"> {{ laRecette.preparationRecette|nl2br }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
