{% extends 'base.html.twig' %}

{% block title %}Recettes de nutrition pour prendre du poids{% endblock %}

{% block body %}
<br>
<div class="container position-relative text-center animate__animated animate__zoomIn">
    <img src="{{ asset('image/recette/recetteBanniere.jpg')}}" alt="Image accueil" class="img-fluid mx-auto">
    <h2 class="texteimg">Nos meilleures recettes pour grossir sainement et simplement</h2>
</div>
{#<h1 class="titre pt-2 text-center animate__animated animate__flipInX animate__delay-1s">Recettes pour grossir sainement et simplement</h1>#}
<p class="pt-2 text-center">Grossir ne devrait pas être une corvée, redécouvrez le plaisir avec des plats équilibrés aux calories bien pesées. Manger sain, varié et équilibré est important lorsqu'on souhaite prendre du poids.</p>
<p class="pt-2 text-center">Multipliez les prises plutôt que les plats, et suivez la sélection FitFlex pour grossir sainement et simplement grâce à ces recettes !</p>
<hr>
<div class="container pt-2">
    <div class="row">
        {% for laRecette in lesRecettes %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card text-white bg-primary mb-3 animate__animated animate__flipInX animate__delay-1s">
                <div class="card-header">{{ laRecette.nomRecette }}</div>
                <hr>
                <img class="imgliste mx-auto d-block" src="{{ laRecette.imageRecette }}" alt="Card image">
                <div class="card-body">
                    <h5 class="card-text">
                        <a href="{{ path('ficheRecette', {'id': laRecette.id }) }}" class="badge badge-success">Voir la recette > {{ laRecette.typeRecette }}</a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
