{% extends 'base.html.twig' %}

{% block title %}Gestion équipements{% endblock %}

{% block body %}
    <h1 class="titre pt-2 text-center">Gestion des équipements de fitness</h1>
    <a href="{{ path('admin_equipement_ajout') }}" class="btn btn-success" style="color: black">Ajouter un équipement</a>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-1"></th>
                    <th scope="col-2">Nom</th>
                    <th scope="col-7">Détail</th>
                    <th scope="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for leEquipement in lesEquipements %}
                    <tr class="table-light">
                        <td class="col-1">
                            {% if leEquipement.imageEquipement is not null %}
                                <img class="imgliste mx-auto d-block" style="height: auto; width: 90px; display: block;" src="{{ asset(leEquipement.imageEquipement) }}" alt="Card image">
                            {% endif %}
                        </td>
                        <td class="col-2" style="color: black">{{ leEquipement.nomEquipement }}</td>
                        <td class="col-7">
                            <p class="d-flex flex-row" style="color: black">
                                <span class="align-self-center badge badge-success" style="color: black">{{ leEquipement.lienEquipement }}</span>
                            </p>
                            <p style="color: black">
                                {{ leEquipement.descriptionEquipement }}
                            </p>
                        </td>
                        <td class="col-2">
                            <div class="d-flex flex-row">
                                <a href="{{ path('admin_equipement_modif', {'id': leEquipement.id }) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                                &nbsp;&nbsp;
                                
                                <a class="btn btn-danger" 
                                   data-toggle="modal" 
                                   data-target="#modalSimple"
                                   data-titre="Suppression de l'equipement"
                                   data-message="Êtes vous sur de vouloir supprimer l'equipement : {{ leEquipement.nomEquipement }}"
                                   data-libelleBouton = "Supprimer l'equipement"
                                   data-lien= " {{ path('admin_equipement_suppression', {'id': leEquipement.id}) }}"
                                ><i class="far fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
  {% include "include/_modale.html.twig" %}
{% endblock %}