{% extends 'base.html.twig' %}

{% block title %}Accueil - Apollift{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <style>
        .moving-text {
            font-size: 3em; /* Taille de police en gros */
            animation: moveText 5s infinite alternate; /* Animation de mouvement */
        }
        @keyframes moveText {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(20px); /* Déplacez le texte vers la droite de 20px */
            }
        }
    </style>
{% endblock %}

{% block body %}
<br>

  <div class="container position-relative text-center animate__animated animate__zoomIn">
    <img src="{{ asset('image/imgaccueil2.png')}}" alt="Image accueil" class="img-fluid mx-auto">
  </div>
  
  <h1 style="color:#385c7c; text-align: center">Prépare-toi à une aventure inoubliable</h1>
  <h3 style="text-align: center">Apollift transforme ton bien-être.</h3>

<div style="text-align: center;">
    <div style="display: inline-block; background-color: #385c7c; border-radius: 50%; padding: 10px; width: 40px; height: 40px;">
        <svg aria-hidden="true" focusable="false" fill="none" width="18" class="icon icon-arrow-down" viewBox="0 0 18 16" style="cursor: pointer; color:white" onclick="scrollPage()">
            <path d="m1 4 8 8 8-8" stroke="currentColor" stroke-linecap="square"></path>
        </svg>
    </div>
</div>

<script>
    function scrollPage() {
        window.scrollBy({
            top: window.innerHeight, // Défilement d'une hauteur de fenêtre
            left: 0,
            behavior: 'smooth' // Défilement fluide
        });
    }
</script>
    <br class="my-4">

<div class="container position-relative text-center animate__animated animate__zoomIn">
    <img src="{{ asset('image/imgaccueil.png')}}" alt="image accueil" class="img-fluid mx-auto">
    <div class="position-absolute top-0 start-50 translate-middle-x" style="top: 11%; left: 17%; transform: translate(-50%, -50%);">
        <p style="color: white; padding: 10px;">
            <span style="background-color: black; padding: 5px;">Des ressources complètes, des conseils pratiques <br>et des exercices efficaces pour vous aider <br>à surmonter les obstacles.</span>
        </p>
    </div>
    <div class="position-absolute top-0 end-0 translate-middle-y" style="top: 92%; right: 2%; transform: translateY(-50%);">
        <p style="color: white; padding: 10px;">
            <span style="background-color: black; padding: 5px;">Une communauté de passionnés <br>qui se dépassent et se surpassent au quotidien <br>pour atteindre leurs objectifs.</span>
        </p>
    </div>
</div>

<br>

    {#<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="titreaccueil animate__animated animate__flipInX animate__delay-1s">FitFlex</h3>
        <p>Mon objectif est de fournir des ressources complètes, des conseils pratiques et des exercices efficaces pour vous aider à surmonter les obstacles.</p>
      </div>
      <div class="col-md-6">
        <img src="{{ asset('image/Bandeau1.jpg')}}" alt="Image à droite" class="img-fluid animate__animated animate__flipInX animate__delay-1s">
      </div>
    </div>
  </div>#}

<hr>

<div class="container text-center">
    <p class="moving-text">Soyez divins. Devenez légendaires.</p>
</div>

<div class="container">
<div class="row">
    <div class="col-md-4">
      <div class="image-container">
        <a href="{{ path('exercicemusculations') }}">
          <div class="image-with-text">
            <img src="{{ asset('image/imgBouton1.jpg')}}" alt="Image 1" class="img-fluid zoom-effect">
            <div class="image-text">Voir les exercices</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="image-container">
        <a href="{{ path('equipements') }}">
          <div class="image-with-text">
            <img src="{{ asset('image/imgBouton2.jpg')}}" alt="Image 2" class="img-fluid zoom-effect">
            <div class="image-text">Voir les equipements</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
        <div class="image-container">
            <div id="recettes-image" class="image-with-text">
                <a href="#" id="toggle-dropdown">
                    <img src="{{ asset('image/imgBouton3.jpg')}}" alt="Image 3" class="img-fluid zoom-effect">
                    <div class="image-text">Voir les recettes</div>
                </a>
            </div>
            <div id="dropdown" style="display: none;">
                <select id="choixRecettes" class="form-control">
                    <option value="{{ path('recettes') }}">Recettes pour prendre du poids</option>
                    <option value="{{ path('recettenegatives') }}">Recettes pour perdre du poids</option>
                </select>
                <button id="close-dropdown-btn" class="btn btn-secondary">Fermer</button>
                <button id="redirect-btn" class="btn btn-primary">Go</button>
            </div>
            <div id="message" style="display: none;"></div>
        </div>
    </div>

    <script>
        document.getElementById("toggle-dropdown").addEventListener("click", function(event) {
            event.preventDefault();
            document.getElementById("dropdown").style.display = "block";
        });

        document.getElementById("close-dropdown-btn").addEventListener("click", function() {
            document.getElementById("dropdown").style.display = "none";
        });

        document.getElementById("redirect-btn").addEventListener("click", function() {
            var choix = document.getElementById("choixRecettes");
            if (!choix.value) {
                document.getElementById('message').innerHTML = "<div class='alert alert-danger'>Veuillez sélectionner une option.</div>";
            } else {
                window.location.href = choix.value;
            }
        });
    </script>

</div>
</div>
<hr>

  <div class="container position-relative text-center animate__animated animate__zoomIn">
    <img src="{{ asset('image/imgaccueil3.png')}}" alt="Image accueil" class="img-fluid mx-auto">
  </div>

  <h1 style="color:#385c7c; text-align: center">Un bon entraînement doit être combiné avec une bonne alimentation.</h1>
  <h3 style="text-align: center">- Apollift</h3>
{#
<hr>

<div class="container">
    <div class="row">
      <div class="col-md-6 animate__animated animate__flipInX animate__delay-1s">
        <img src="{{ asset('image/Bandeau2.jpg')}}" alt="Image à gauche" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h3 class="titreaccueil animate__animated animate__flipInX animate__delay-1s">Peu importe votre niveau</h3>
        <p>Rejoins notre communauté de passionnés qui se dépassent et se surpassent au quotidien pour atteindre leurs objectifs.</p>
        <p>Inscris toi dès aujourd'hui et profite de tous les avantages de FitFlex.</p>
      </div>
    </div>
  </div>
#}
{% endblock %}
