{% extends 'base.html.twig' %}

{% block title %}Détails de la performance{% endblock %}

{% block body %}
<br>
<div class="container position-relative text-center animate__animated animate__zoomIn">
    <img src="{{ asset('image/performance/performanceBanniere.jpg')}}" alt="Image accueil" class="img-fluid mx-auto">
    <h2 class="texteimg">Bienvenue sur votre journal de performance</h2>
</div>
<p class="pt-2 text-center">Le journal de performance est votre outil pour documenter et suivre vos progrès dans votre parcours de remise en forme. Lorsque vous effectuez un nouvel exercice, utilisez le formulaire 'Ajouter une performance' pour enregistrer vos performances.</p>

<a href="{{ path('performance_ajout') }}" class="btn btn-success" style="color: black">Ajouter une performance</a>
<hr>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col-2">Groupe Musculaire</th>
                <th scope="col-3">Exercice</th>
                <th scope="col-5">Détail</th>
                <th scope="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for laPerformance in lesPerformances %}
            <tr class="table-light">
                <td class="col-2" style="color: black">
                    {% for exercice in laPerformance.exercice.exerciceMusculations %}
                    {{ exercice.nomExerciceMusculation }}
                    {% endfor %}
                </td>
                <td class="col-3" style="color: black">
                    <img class="imgliste mx-auto d-block" style="height: auto; width: 90px; display: block;" src="{{ asset(laPerformance.exercice.imageTypeExerciceMusculation) }}" alt="Card image">
                    {{laPerformance.exercice.nomTypeExerciceMusculation}}
                </td>
                <td class="col-5">
                    <p class="d-flex flex-row" style="color: black">
                        <span class="align-self-center badge badge-success" style="color: black">Nombre de répétition : {{ laPerformance.repetitions }}</span>
                        <span style="width: 10px;"></span> <!-- Ajoute un espace de 10 pixels -->
                        <span class="align-self-center badge badge-success" style="color: black">Nombre de série : {{ laPerformance.serie }}</span>
                        <span style="width: 10px;"></span> <!-- Ajoute un espace de 10 pixels -->
                        <span class="align-self-center badge badge bg-info" style="color: black">Poids utiliser : {{ laPerformance.poidsUtilise }} kg</span>
                    </p>
                    <p style="color: black">
                        Commentaire sur votre forme : {{ laPerformance.commentairesForme }}
                    </p>
                    <p style="color: black">
                        Date : {{ laPerformance.createdAt|date('d/m/Y H:i:s') }}
                    </p>
                </td>

                <td class="col-2">
                    <div class="d-flex flex-row">
                        <a href="{{ path('performance_modif', {'id': laPerformance.id }) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                        &nbsp;&nbsp;

                        <a class="btn btn-danger"
                           data-toggle="modal" 
                           data-target="#modalSimple" 
                           data-titre="Suppression de la performance"
                           data-message="Êtes-vous sûr de vouloir supprimer cette performance ?"
                           data-libelleBouton = "Supprimer la performance"
                           data-lien="{{ path('performance_suppression', {'id': laPerformance.id}) }}"
                        ><i class="far fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="graph-container">
    <canvas id="performance-chart" width="800" height="400"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    var graphData = {{ graphData|raw }};
    
    // Tri des données par ordre croissant de item.exercice
    graphData.sort((a, b) => (a.exercice > b.exercice) ? 1 : -1);
    
    const labels = graphData.map(item => item.exercice);
    const barWeights = graphData.map(item => item.poidsUtilise);
    const lineSeries = graphData.map(item => item.serie);
    const lineRepetitions = graphData.map(item => item.repetitions);

    // Fonction de hachage pour générer une couleur unique à partir du nom de l'exercice
    function hashString(str) {
        var hash = 0;
        for (var i = 0; i < str.length; i++) {
            hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }
        var color = '#';
        for (var j = 0; j < 3; j++) {
            var value = (hash >> (j * 8)) & 0xFF;
            color += ('00' + value.toString(16)).substr(-2);
        }
        return color;
    }

    var ctx = document.getElementById('performance-chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'Nombre de séries',
                    data: lineSeries,
                    type: 'line',
                    borderColor: 'green',
                    fill: false,
                    borderWidth: 2
                },
                {
                    label: 'Nombre de répétitions',
                    data: lineRepetitions,
                    type: 'line',
                    borderColor: 'red',
                    fill: false,
                    borderWidth: 2
                },
                {
                    label: 'Poids utilisé',
                    data: barWeights,
                    backgroundColor: labels.map(label => hashString(label)),
                    borderColor: 'white', 
                    borderWidth: 1
                }
            ]
        },
        options: {
            // Fond du graphique en blanc
            plugins: {
                tooltip: {
                    bodyFont: {
                        weight: 'bold',
                        color: 'white' // Changement de la couleur du texte du tooltip en blanc
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white' // Changement de la couleur des ticks en blanc
                    }
                },
                x: {
                    grid: {
                        color: 'rgba(255, 255, 255, 0.1)'
                    },
                    ticks: {
                        color: 'white' // Changement de la couleur des ticks en blanc
                    }
                }
            },
            // Couleur du fond et de l'écriture
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Graphique de performance',
                    color: 'white', // Changement de la couleur du titre en blanc
                    font: {
                        size: 16,
                        weight: 'bold'
                    }
                },
                legend: {
                    labels: {
                        color: 'white' // Changement de la couleur de la légende en blanc
                    }
                }
            }
        }
    });
</script>

{% endblock %}

{% block javascripts %}
  {% include "include/_modale.html.twig" %}
{% endblock %}