{% extends 'base.html.twig' %}

{% block title %}Recettes de nutrition pour perdre du poids{% endblock %}

{% block body %}
<br>
<div class="container position-relative text-center animate__animated animate__zoomIn">
    <img src="{{ asset('image/recette/recetteBanniere.jpg')}}" alt="Image accueil" class="img-fluid mx-auto">
    <h2 class="texteimg">Nos meilleures recettes à calories négatives</h2>
</div>
{#<h1 class="titre pt-2 animate__animated animate__flipInX animate__delay-1s">Nos meilleures recettes à calories négatives pour perdre du poids</h1>#}
<p class="pt-2 text-center">Quand on veut perdre du poids, on court après les aliments les plus bas en calorie. Chaque aliment renferme un certain nombre de calories et le corps les utilise pour de nombreuses fonctions (respiration, circulation du sang, mouvements...). La calorie négative, c'est donc l'idée qu'un aliment apporterait moins de calories que le corps a besoin pour l'assimiler. Ces aliments sont ainsi parfaitement adaptés quand on souhaite perdre du poids.</p>
<p class="pt-2 text-center">Apollift vous offre des recettes à calories négatives pour perdre du poids.</p>
<hr>
<div class="container pt-2">
    <div class="row">
    {% for laRecetteNegative in lesRecetteNegatives %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card text-white bg-primary mb-3 animate__animated animate__flipInX animate__delay-1s">
            <div class="card-header">{{ laRecetteNegative.nomRecetteNegative }}</div>
            <hr>
            <img class="imgliste mx-auto d-block" src="{{ laRecetteNegative.imageRecetteNegative }}" alt="Card image">
            <div class="card-body">
                <hr>
                <h5 class="card-text">
                    <a href="{{ path('ficheRecetteNegative', {'id': laRecetteNegative.id }) }}" class="badge badge-success">Voir la recette > {{ laRecetteNegative.typeRecetteNegative }}</a>
                </h5>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
