{% extends 'base.html.twig' %}

{% block title %}Mes exercices favoris{% endblock %}

{% block body %}
<br>
<div class="container position-relative text-center animate__animated animate__zoomIn">
    <img src="{{ asset('image/favorite/favorite.jpg')}}" alt="Image accueil" class="img-fluid mx-auto">
    <h2 class="texteimg">Retrouvez vos exercices favoris</h2>
</div>
{#<h1 class="titre pt-2 text-center animate__animated animate__flipInX animate__delay-1s">Retrouvez vos exercices favoris ici</h1>#}
<hr>
<div class="container pt-2">
    <div class="row">
        {% for favoriteExercise in favoriteExercises %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                <div class="card text-white bg-primary animate__animated animate__flipInX animate__delay-1s">
                    <div class="card-header">{{ favoriteExercise.getTypeExerciceMusculation().getNomTypeExerciceMusculation() }}</div>
                    <hr>
                    <img class="imgliste mx-auto d-block" src="{{ asset(favoriteExercise.getTypeExerciceMusculation().getImageTypeExerciceMusculation()) }}" alt="Card image">
                    <div class="card-body">
                        <a href="{{ path('ficheTypeExerciceMusculation', {'id': favoriteExercise.getTypeExerciceMusculation().getId() }) }}" class="btn btn-outline-light mr-1">Voir détails</a>
                        <button class="btn btn-outline-danger delete-favorite" data-exercise-id="{{ favoriteExercise.getExerciseId() }}">Supprimer des favoris</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    $('.delete-favorite').click(function () {
        var exerciseId = $(this).data('exercise-id');
        var button = $(this);

        $.ajax({
            url: "{{ path('favorite_remove') }}",
            type: "POST",
            data: { exerciseId: exerciseId },
            success: function (response) {
                if (response.status === 'removed') {
                    // L'exercice a été retiré des favoris, mettez à jour l'interface utilisateur
                    button.closest('.card').remove();
                }
            }
        });
    });
});
</script>
{% endblock %}
