{% extends 'base.html.twig' %}

{% block title %}
    {% if exerciceMusculation.id is defined %}
        Modification d'un exercice de musculation
    {% else %}
        Ajout d'un exercice de musculation
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="text-center pt-2">
        {% if typeExerciceMusculation.id is defined %}
            Modification d'un exercice de musculation
        {% else %}
            Ajout d'un exercice de musculation
        {% endif %}
    </h1>

    {{ form_start(formTypeExerciceMusculation,{'attr':{'novalidate':'novalidate'}}) }}

    {% if typeExerciceMusculation.id is defined %}
        {{ form_row(formTypeExerciceMusculation.id, {'attr': {'hidden': 'hidden'}}) }}
    {% endif %}
    
    {{ form_row(formTypeExerciceMusculation.nomTypeExerciceMusculation) }}

    {{ form_row(formTypeExerciceMusculation.imageTypeExerciceMusculation) }}

    {{ form_row(formTypeExerciceMusculation.titreTypeExerciceMusculation) }}

    {{ form_row(formTypeExerciceMusculation.descriptionTypeExerciceMusculation) }}

    <div class="row">
        <div class="col">
            <a href="{{ path('admin_typeExerciceMusculations') }}" class="btn btn-warning btn-block">Annuler</a>
        </div>
        <div class="col">
            <input type="submit" class="btn btn-success btn-block" value="{% if typeExerciceMusculation.id is defined %}Valider les modifications{% else %}Valider{% endif %}">
        </div>
    </div>
    <br>

    {{ form_end(formTypeExerciceMusculation) }}
{% endblock %}
