{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-image: url('{{ asset('image/accueil.jpg') }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <h1 class="display-4">{{ user.fullName }}</h1>
            </div>
            <hr>
            <dl>
                <dt>Email:</dt>
                <dd>{{ user.email }}</dd>
                <dt>Nom:</dt>
                <dd>{{ user.nomUser }}</dd>
                <dt>Prénom:</dt>
                <dd>{{ user.prenomUser }}</dd>
                <dt>Sexe:</dt>
                <dd>{{ user.sexeUser }}</dd>
                <dt>Âge:</dt>
                <dd>{{ user.ageUser }}</dd>
                <dt>Taille:</dt>
                <dd>{{ user.tailleUser }}</dd>
                <dt>Poids:</dt>
                <dd>{{ user.poidsUser }}</dd>
                <dt>Niveau:</dt>
                <dd>{{ user.levelUser }}</dd>
                <dt>Objectif:</dt>
                <dd>{{ user.objectifUser }}</dd>
            </dl>
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="{{ path('user_profile_edit') }}" class="btn btn-primary btn-lg">Modifier le profil</a>
            </div>
        </div>
    </div>
{% endblock %}
